<ol class="con-team__list-team">
  <li class="con-team__item-team active">
    <span class="con-team__icon-act"></span>
    <div class="con-team__team-box">
      <span class="con-team__number">1</span>
      <span class="con-team__name">
        <span class="con-team__name-team">Equipo con un nombre largo para que ocupe mas líneas</span>
        <span class="con-team__name-people">Nombre 1 - Nombre 2 - Nombre 3</span>
      </span>
      <div class="con-team__icons">
        <button  class="con-team__btn" (click)="iconTeam($event)">
          <img src="../../../assets/images/phone.svg" alt="" srcset="">
        </button>
        <button  class="con-team__btn" (click)="iconTeam($event)">
          <img src="../../../assets/images/people.svg" alt="" srcset="">
        </button>
      </div>
      <span class="con-team__poits">999</span>
    </div>
  </li>
  <li class="con-team__item-team">
    <span class="con-team__icon-act"></span>
    <div class="con-team__team-box">
      <span class="con-team__number">2</span>
      <span class="con-team__name">
        <span class="con-team__name-team">Nombre equipo</span>
        <span class="con-team__name-people">Nombre 1 - Nombre 2 - Nombre 3</span>
      </span>
      <div class="con-team__icons">
        <button  class="con-team__btn" (click)="iconTeam($event)">
          <img src="../../../assets/images/phone.svg" alt="" srcset="">
        </button>
        <button  class="con-team__btn" (click)="iconTeam($event)">
          <img src="../../../assets/images/people.svg" alt="" srcset="">
        </button>
      </div>
      <span class="con-team__poits">0</span>
    </div>
  </li>
  <li class="con-team__item-team">
    <span class="con-team__icon-act"></span>
    <div class="con-team__team-box">
      <span class="con-team__number">3</span>
      <span class="con-team__name">
        <span class="con-team__name-team">Nombre equipo</span>
        <span class="con-team__name-people">Nombre 1 - Nombre 2 - Nombre 3</span>
      </span>
      <div class="con-team__icons">
        <button  class="con-team__btn" (click)="iconTeam($event)">
          <img src="../../../assets/images/phone.svg" alt="" srcset="">
        </button>
        <button  class="con-team__btn" (click)="iconTeam($event)">
          <img src="../../../assets/images/people.svg" alt="" srcset="">
        </button>
      </div>
      <span class="con-team__poits">0</span>
    </div>
  </li>
  <li class="con-team__item-team">
    <span class="con-team__icon-act"></span>
    <div class="con-team__team-box">
      <span class="con-team__number">4</span>
      <span class="con-team__name">
        <span class="con-team__name-team">Nombre equipo</span>
        <span class="con-team__name-people">Nombre 1 - Nombre 2 - Nombre 3</span>
      </span>
      <div class="con-team__icons">
        <button  class="con-team__btn" (click)="iconTeam($event)">
          <img src="../../../assets/images/phone.svg" alt="" srcset="">
        </button>
        <button  class="con-team__btn" (click)="iconTeam($event)">
          <img src="../../../assets/images/people.svg" alt="" srcset="">
        </button>
      </div>
      <span class="con-team__poits">0</span>
    </div>
  </li>

</ol>