button {
   &.mat-mdc-unelevated-button{
       &.mat-primary {
           background-color: $color-tertiary;
           border-radius: 0;
           font-family: 'K2D', sans-serif;
           font-weight: 600;
           border: 2px solid $color-secondary;
           padding: 1.25rem 1rem;
       }
   }
}
