/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

$color-blue-1: #164863;
$color-blue-2: #427D9D;
$color-blue-3: #9BBEC8;
$color-blue-4: #164863;
$color-white: #DDF2FD;

$color-primary: $color-blue-1;
$color-secondary: $color-white;
$color-tertiary: $color-blue-2;

$color-text-primary: $color-blue-1;
$color-text-secondary: $color-white;
